
.et_pb_section_1.et_pb_section {
    padding-top: 25px;
    padding-right: 0px;
    padding-bottom: 120px;
    padding-left: 0px;
    background-color: #cccccc !important;
}
.et_pb_section_5.et_pb_section {
    background-color: #cccccc !important;
}
